name: CI

on:
  pull_request:
  push:
  schedule:
    - cron: 0 0 * * 0
  workflow_dispatch:

defaults:
  run:
    shell: 'bash -Eeuo pipefail -x {0}'

jobs:
  go:
    strategy:
      matrix:
        go:
          # test 1.24+
          - 1.26-rc
          - 1.25
          - 1.24
          # and any specific patch releases just before logic/invocation changes
          - 1.26rc2 # https://github.com/golang/go/commit/29f3f72dbd67c25033df944c8ced91e0efd46851
          - 1.25.5 # https://github.com/golang/go/commit/082365aa552a7e2186f79110d5311dce70749cc0
          # also test tip (via "golang:tip", so ~weekly snapshots)
          - tip
      fail-fast: false
    name: 'Go ${{ matrix.go }}'
    runs-on: ubuntu-latest
    env:
      GO_VERSION: '${{ matrix.go }}'
      DOCKER_BUILDKIT: '0'
    steps:
      - uses: actions/checkout@v5
      - name: Test
        run: |
          docker build --pull . --file Dockerfile.test --build-arg GO_VERSION="$GO_VERSION"
